@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Default to Chrome scrollbar width */
		--scrollbar-width: 15px;
		--header-height: 5rem;
	}

	/* @media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0.01ms !important;
			transition-duration: 0.01ms !important;
		}
	} */

	@media (max-width: 640px) {
		:root {
			--header-height: 4rem;
		}
	}
}
