name: Go

on:
  push:
    branches:
      - main
    paths:
      - server/**

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.2

      - name: Install dependencies
        working-directory: ./server
        run: |
          go get .

      - name: Build
        working-directory: ./server
        run: |
          GOOS=linux GOARCH=arm64 go build -tags lambda.norpc -o bootstrap .
          zip deployment.zip bootstrap
      - name: Deploy
        env:
          AWS_DEFAULT_REGION: ap-southeast-2
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws configure
          aws lambda update-function-code --function-name gowarriors --zip-file fileb://server/deployment.zip
